AnimalSpirits.txt
Attributes-Opposites.txt
Counterspells.txt
Sorcery*-password.txt
Spellbook.jpg
com.inkle.sorcery*
sorcery*
output/*
reference/*

# Executables
pretty-print-json
xtractobb
*.pyc

# Build
*.o
*.d

